/.env
/.idea
/server/database
.DS_Store

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
!.env.zip

*.unison.tmp


.*/yarn-error.log
.*/npm-debug.log

# BUILD FILES
.*/node_modules/*

